<!DOCTYPE html>
{% extends "base.html" %}


{% block block_body %}
    <div class="container-fluid pt-3" style="width: 20%">
        <div>
            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
    </div>
        <div class="container-fluid pt-3" style="width: 50%">
        {% if users %}
            <span id="entries_count"><strong>Results: {{ num_of_users }}</strong></span>
            <button class="btn btn-link" onclick="export_table('myTable')">Export Table</button>
            <div class="float-right">
                <input type="search" align="right" id="myInput" onkeyup="search_table('myInput','myTable','entries_count')"
                       placeholder="Search here...">
                <p></p>
            </div>

            <table class="table table-striped tablesorter" id="myTable">
                <thead>
                <tr id="myTableHead">
                    <th>Extension <i class="fa fa-xs fa-chevron-down"></i></th>
                    <th>Full Name <i class="fa fa-xs fa-chevron-down"></i></th>
                    <th>DID <i class="fa fa-xs fa-chevron-down"></i></th>
                </tr>
                </thead>
                <tbody>
                {% for entry in users %}
                    <tr>
                        <td>{{ entry.username }}</td>
                        <td>{{ entry.fullaname }}</td>
                        <td>{{ entry.callerid }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

{% endblock block_body %}

{% block scripts %}

{% endblock scripts %}
