<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}


{% block block_body %}
    <div class="container-fluid pt-3" style="width: 20%">
        <div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-info" type="submit">Search Date</button>
                <hr>
            </form>
        </div>
    </div>
    <div class="container-fluid pt-3" style="width: 80%">
        {% if record_list %}
            <span id="entries_count"><strong>Results: {{ record_list_len }}</strong></span>
            <button class="btn btn-link" onclick="export_table('myTable')">Export Table</button>
            <div class="float-right">
                <input type="search" align="right" id="myInput" onkeyup="search_table('myInput','myTable','entries_count')"
                       placeholder="Search here...">
                <p></p>
            </div>

            <table class="table table-striped tablesorter" id="myTable">
                <thead>
                <tr id="myTableHead">
                    <th>Date <i class="fa fa-xs fa-chevron-down"></i></th>
                    <th>Time <i class="fa fa-xs fa-chevron-down"></i></th>
                    <th>Full Name <i class="fa fa-xs fa-chevron-down"></i></th>
                    <th>Source <i class="fa fa-xs fa-chevron-down"></i></th>
                    <th>Destination <i class="fa fa-xs fa-chevron-down"></i></th>
                    <th>Call Type <i class="fa fa-xs fa-chevron-down"></i></th>
                    <th>Audio File <i class="fa fa-xs fa-chevron-down"></i></th>
                </tr>
                </thead>
                <tbody>
                {% for entry in record_list %}
                    <tr>
                        <td>{{ entry.date }}</td>
                        <td>{{ entry.time }}</td>
                        <td>{{ entry.fullname }}</td>
                        <td>{{ entry.src }}</td>
                        <td>{{ entry.dst }}</td>
                        <td>{{ entry.call_type }}</td>
                        <td>
                            <audio controls>
                                <source src="{% static '' %}{{ entry.relative_path }}{{ entry.filename }}" type="audio/ogg">
                            </audio>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

{% endblock block_body %}

{% block scripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
            $("#myTable").tablesorter();
        }
    );
    </script>

{% endblock scripts %}
