body {
    padding-top: 50px;
    padding-left: 250px;
}

/*navbar*/
.sidebar {
    height: 100vh;
    /*background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .6)), url(sidebar.png);*/
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .6)), url(ippbx.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 5px 10px #111;
}

.brand-bottom-border {
    border-bottom: 1px groove #eee;
}

.sidebar-link {
}

.sidebar-link:hover {
    background-color: #8d9fa8;
    border-radius: 5px;
    box-shadow: 2px 5px 10px #111;
    transition: all, .5s;
    transform: translateY(-1px);
}

.sidebar-link-current {
    /*background-color: #F31B23;*/
    /*border-radius: 7px;*/
    /*box-shadow: 2px 5px 10px #111;*/
}

.topbar {
    box-shadow: 2px 5px 10px black;
    background-color: #d2d8db;
}

.topbar-search-input {
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #999999;
    transition: all .4s;
}

.topbar-search-input:focus {
    background: transparent;
    box-shadow: none;
    border-bottom: 2px solid #cd3545;
}

.topbar-search-button {
    border-radius: 50px;
}

.topbar-search-button:hover {
    background-color: #59575D;
}

@media (max-width: 768px) {
    .sidebar {
        position: static;
        height: auto;
    }

    .topbar {
        position: static;
        /*height: auto;*/
    }
}

/*end of navbar*/


/*table*/
#myTable {
    text-align: center;
}
/*end of table*/


/*body*/
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e3ebef;
}

/*body*/

