{% extends "base.html" %}

<!--main content start-->
{% block block_body %}
    <div class="container">
        <div class="row justify-content-center pt-5 text-center">
            <form method="post">
                {{ form.hidden_tag() }}
                {{ form.username.label }}{{ form.username() }}
                {{ form.password.label }}{{ form.password() }}
                {{ form.submit() }}
            </form>
        </div>
    </div>

{% endblock block_body %}
<!--end of main content-->


