<!DOCTYPE html>
{% load static %}

<html lang="en">
<!--head-->
<head>
    <meta charset="UTF-8">
    <title>Hermes Management System</title>

    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>

    <!--bootsrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>


    <!--moment (used in datepicker-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
    <!--datepicker-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css"/>

    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!--fontawesome-->
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
            integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
            crossorigin="anonymous"></script>

    <!--static css-->
    <link rel="stylesheet" type="text/css" href="{% static 'my_style.css' %}">
</head>
<!--end of head-->


<!--body-->
<body>


<!--navbar-->
<nav class="navbar navbar-expand-md navbar-light">
    <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#myNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
        <div class="div container-fluid">
            <div class="row">
                <!--Sidebar-->
                <div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
                    <span href="#" class="navbar-brand text-white d-block mx-auto text-center py-3 mb-4 brand-bottom-border">Hermes</span>
                    <ul class="navbar-nav flex-column">

                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link text-white sidebar-link-current"><i class="fas fa-clipboard-list text-light mr-3"></i>Dashboard</a>
                        </li>

                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link text-white sidebar-link" data-toggle="collapse" data-target="#submenu-config" aria-expanded="false"
                               aria-controls="submenu-net">
                                <i class="fas fa-cog text-light mr-2"></i>Configuration<i class="fa fa-caret-down"></i>
                            </a>
                            <div id="submenu-config" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item ml-4">
                                        <a class="nav-link text-white sidebar-link" href="{% url 'frontend:config_users' %}">Users</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link text-white sidebar-link" data-toggle="collapse" data-target="#submenu-mgmt" aria-expanded="false"
                               aria-controls="submenu-voip">
                                <i class="fas fa-phone text-light mr-2"></i>Management<i class="fa fa-caret-down"></i>
                            </a>
                            <div id="submenu-mgmt" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item ml-4">
                                        <a class="nav-link text-white sidebar-link" href="{% url 'frontend:mgmt_cdr' %}">CDR Info</a>
                                    </li>
                                    <li class="nav-item ml-4">
                                        <a class="nav-link text-white sidebar-link" href="{% url 'frontend:mgmt_logs' %}">Logs Info</a>
                                    </li>
                                    <li class="nav-item ml-4">
                                        <a class="nav-link text-white sidebar-link" href="{% url 'frontend:mgmt_recording' %}">Recordings Info</a>
                                    </li>
                                </ul>

                            </div>
                        </li>

                        <li class="nav-item mb-2">
                            <a href="#" class="nav-link text-white sidebar-link" data-toggle="collapse" data-target="#submenu-vm" aria-expanded="false" aria-controls="submenu-net">
                                <i class="fas fa-microphone text-light mr-2"></i>Voicemail<i class="fa fa-caret-down"></i>
                            </a>
                            <div id="submenu-vm" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item ml-4">
                                        <a class="nav-link text-white sidebar-link" href="{% url 'frontend:vm_info' %}">VM Info</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
                <!--End of Sidebar-->


                <!--Topbar-->
                <div class="col-xl-10 col-lg-9 col-md-8 topbar ml-auto py-2 fixed-top">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <h4 class="text-dark mb-0">Dashboard</h4>
                        </div>
                        <div class="col-md-5">
                            <form>
                                <div class="input-group">
                                    <input type="text" class="form-control topbar-search-input" placeholder="Search...">
                                    <button type="button" class="btn topbar-search-button btn-dark" data-toggle="modal" data-target="#todo-message"><i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-3">
                            <ul class="navbar-nav">
                                <li class="nav-item mx-2 ml-md-auto"><a href="{% url 'admin:index' %}" class="nav-link" data-toggle="modal" data-target="#todo-message"><i
                                        class="fas fa-user text-bark"></i></a></li>
                                <li class="nav-item mx-2"><a href="#" class="nav-link" data-toggle="modal" data-target="#todo-message"><i
                                        class="fas fa-sign-in-alt text-danger"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--End of Topbar-->
            </div>
        </div>
    </div>
</nav>
<!--end of navbar-->


<!--modal-->
<div class="modal fade" id="todo-message">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Not implemented yet!!!</h4>
            </div>
        </div>
    </div>

</div>
<!--end of modal-->


<!--main content start-->
{% block block_body %}
    <div class="container">
        <div class="row justify-content-center pt-3">
            <center><h2>Welcome to <br><br> <strong>Hermes</strong><br><br> IP PBX Management System!</h2></center>
        </div>
    </div>
{% endblock block_body %}
<!--end of main content-->


<!--static javascript-->
<script src="{% static 'my_javascript.js' %}"></script>
<!--end of static javascript-->


<!--scripts-->
{% block scripts %}
{% endblock scripts %}
<!--end of scripts-->


</body>
</html>
